<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true" internalLogFile="c:\temp\nlog-internal.txt" internalLogLevel="Trace">
  <targets async="true">
    <target name="logFile" xsi:type="File"
            fileName="c:\\temp\\SwRI_Tools.log"
            archiveNumbering="Rolling"
            archiveEvery="Day"
            concurrentWrites="true"
            maxArchiveFiles="14"
            layout="${longdate} ${callsite} ${uppercase:${level}} ${message}" />
  </targets>
  <!-- Config info
  https://github.com/nlog/NLog/wiki/Configuration-file
  https://github.com/nlog/NLog/wiki/EventLog-target
  <variable name="globalLevel" value="Debug"/>
  -->
  <rules>
    <logger name="*" minlevel="Debug" writeTo="logFile" />
  </rules>
</nlog>